<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

  <bean id="myBar" class="xapn.testing.unitils.spring.Bar">
    <property name="message" value="'Bar from application context'" />
  </bean>

  <bean id="myFoo" class="xapn.testing.unitils.spring.Foo">
    <property name="bar" ref="myBar" />
  </bean>
  
  <bean id="myBaz" class="xapn.testing.unitils.spring.Baz">
  </bean>
  
  <bean id="myQux" class="xapn.testing.unitils.spring.Qux">
  </bean>
</beans>
